@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #3E67E9;
    --secondary-color: #C5D1F8;
    --error-color: #EF233C;
    --warning-color: #EEAD07;
    --background-color: #FFFFFF;
    --text-color: #22223B;
    --border-color: #CED4DA;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #050607;
        --text-color: #FFFFFF;
        --border-color: #343A40;
    }
}

* {
    box-sizing: border-box;
}

body, h1, h2 {
    margin: 0;
}

body {
    height: 100vh;
    font: 14px 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    pointer-events: none;
}

header, h1, i {
    user-select: none;
}

::selection {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.button {
    padding: 10px 14px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font: .9em 'Inter', sans-serif;
    font-weight: 500;
    background-color: var(--primary-color);
    color: #FFFFFF;
    cursor: pointer;
    transition: 180ms;
} .button:hover {
    border-color: #3758BF;
    background-color: #3758BF;
} .button:active {
    border-color: #2E4AA1;
    background-color: #2E4AA1;
}

.hidden {
    display: none !important;
}

.sb-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loader {
    font-size: 1.4em;
    animation: spin 600ms infinite linear;
}

header {
    padding: 12px;
    font-weight: 500;
}

header .header-info a:hover {
    text-decoration: underline;
}

header .upload-expiration-warning {
    color: var(--warning-color);
    pointer-events: none;
}

main {
    display: grid;
    place-items: center;
    pointer-events: none;
}

main h1 {
    font-size: 10vw;
    font-weight: 900;
    text-align: center;
    transition: color 180ms;
    color: var(--border-color);
}

body.active-drag main h1 {
    color: var(--primary-color);
}

main h1 .loader-container {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-42px);
}

main h1 .loader-container .loader {
    font-size: .8em;
    animation-duration: 800ms;
}

main:has(h1.upload-url) {
    pointer-events: all;
}

main h1.upload-url {
    color: var(--text-color);
    font-size: 2.5vw;
    user-select: all;
}

main h1.upload-url i {
    color: #16DB65;
    margin-right: 12px;
}

main h1.upload-url a:hover {
    text-decoration: underline;
}

#reset_uploader_btn {
    position: absolute;
    margin-top: 15em;
}

.click-msg {
    display: none;
}

#upload_progress_bar, #upload_progress_bar::-webkit-progress-bar,
#upload_progress_bar::-webkit-progress-value, #upload_progress_bar::-moz-progress-bar {
    border-radius: 4px;
}

#upload_progress_bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 12px;   
    border: none;
    margin-bottom: 32px;
}

#upload_progress_bar::-webkit-progress-bar {
    background-color: #ECECEC;
    overflow: hidden;
}

#upload_progress_bar::-webkit-progress-value, #upload_progress_bar::-moz-progress-bar {
    background-color: var(--primary-color);
    transition: width 300ms ease;
}

@keyframes spin {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}

@media only screen and (max-width: 550px) {
    .click-msg {
        display: unset;
    }

    .drop-msg, #manual_upload_btn {
        display: none;
    }
}