@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --background-color: #FFF;
    --text-color: #22223B;
    --border-color: #CED4DA;
    --primary-color: #3E67E9;
    --secondary-color: #C5D1F8;
    --error-color: #EF233C;
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

body {
    height: 100vh;
    font: 14px 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: inherit;
}

i {
    pointer-events: none;
}

body, h1, h2 {
    margin: 0;
}

::selection {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button, .field {
    padding: 10px 16px;
    border: 1px solid;
    border-radius: 4px;
    font: .9em 'Inter', sans-serif;
    transition: 180ms;
}

.button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
} .button:hover {
    border-color: #3758BF;
    background-color: #3758BF;
} .button:active {
    border-color: #2E4AA1;
    background-color: #2E4AA1;
}

.field {
    border-color: var(--border-color);
    background-color: transparent;
    color: var(--text-color);
} .field:focus {
    outline: none;
    border-color: var(--primary-color);
}

.field::placeholder {
    color: var(--border-color);
}

.hidden {
    display: none !important;
}

.sb-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invalid {
    border-color: var(--error-color);
    background-color: rgb(245 223 1 / 15%);
}

.loader {
    font-size: 1.4em;
    color: var(--primary-color);
    animation: spin 600ms infinite linear;
}

.banner {
    padding: 8px;
    border: 1px solid;
    border-radius: 6px;
    font-weight: 500;
}

.banner.red {
    background-color: rgba(239, 35, 60, 0.12);
    border-color: var(--error-color);
    color: var(--error-color);
}

.banner.amber {
    background-color: rgba(252, 163, 17, 0.12);
    border-color: #FCA311;
    color: #FCA311;
}

.banner.green {
    background-color: rgba(45, 198, 83, 0.12);
    border-color: #2DC653;
    color: #2DC653;
}

.text-in-center {
    text-align: center;
}

header {
    padding: 12px;
}

header .header-info {
    font-weight: 500;
}

header .header-options-container > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
}

main {
    display: grid;
    place-items: center;
    pointer-events: none;
}

main h1 {
    font-size: 15vw;
    font-weight: 900;
    text-align: center;
    transition: 180ms;
    opacity: 0.03;
}

body.active-drag main h1 {
    color: var(--primary-color);
    opacity: 1;
}

main h1:has(.loader) {
    font-size: 10vw;
}

main h1 .loader-container {
    display: inline-block;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    transform: translateY(-42px);
}

main h1 .loader-container .loader {
    font-size: .8em;
    color: var(--text-color);
    animation-duration: 800ms;
}

main:has(h1.upload-url) {
    pointer-events: all;
}

main h1.upload-url {
    font-size: 2.5vw;
    opacity: 1;
    user-select: all;
}

main h1.upload-url i {
    color: #16db65;
    margin-right: 12px;
    user-select: none;
}

@keyframes spin {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}