<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />

        <script src="https://cdn.tailwindcss.com"></script>
        <title>Error &middot; Share &middot; Harvey Coombs</title>
    </head>

    <body class="font-sans text-slate-300 grid place-items-center h-screen">
        <main class="text-center">
            <h1 class="text-5xl font-black text-red-500">{{error}}</h1>
            <div class="w-fit mt-8 mb-0 mx-auto">
                <strong class="text-xl text-red-300 font-extrabold mr-4">{{description}}</strong>
                <a href="/" class="block mx-auto mt-8 w-fit bg-blue-600 text-white text-xs font-semibold py-2.5 px-4 rounded duration-150 hover:bg-blue-700 active:bg-blue-800">RETURN HOME</a>
            </div>
        </main>
    </body>
</html>