<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="Share | Harvey Coombs" />
	    <meta property="og:type" content="website" />
        <meta property="og:url" content="http://share.harveycoombs.com/" />
        <meta name="theme-color" content="#EF476F" />

        <link rel="stylesheet" type="text/css" href="/css/app.css" />
        
        <script src="https://kit.fontawesome.com/c2f479917e.js" defer></script>
        <script src="/js/app.js" type="module" defer></script>

        <title>Share 2 | Harvey Coombs</title>
    </head>

    <body>
        <header class="sb-flex">
            <div class="header-info">Written in Rust by Harvey Coombs &middot; <a href="https://github.com/harveycoombs/share"><i class="fa-brands fa-github"></i></a></div>
            <div class="header-options-container"><button class="button" id="manual_upload_btn">Browse Files</button></div>
        </header><main>
            <h1>SHARE 2.0</h1>
            <input type="file" class="hidden" id="uploader" multiple /></div>
        </main>
    </body>
</html>
