@import "tailwindcss";

@layer utilities {
    * {
        box-sizing: border-box;
    }

    :disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
    }

    ::placeholder {
        user-select: none;
    }

    progress {
        width: 100%;
        height: 0.75rem;
        border: none;
        border-radius: 100px;
        background-color: #F3F4F6;
        color: #615FFF;
    }

    progress::-webkit-progress-bar {
        background-color: #F3F4F6;
        border-radius: 100px;
    }

    progress::-webkit-progress-value {
        background-color: #615FFF;
        border-radius: 100px;
        transition: width 0.3s ease-in-out;
    }

    progress::-moz-progress-bar {
        background-color: #615FFF;
        border-radius: 100px;
        transition: width 0.3s ease-in-out;
    }

    progress:hover::-webkit-progress-value {
        opacity: 0.9;
    }

    progress:hover::-moz-progress-bar {
        opacity: 0.9;
    }
}