@import "tailwindcss";

@layer utilities {
    * {
        box-sizing: border-box;
    }

    :disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
    }

    ::placeholder {
        user-select: none;
    }

    progress {
        width: 100%;
        height: 0.75rem;
        border: none;
        border-radius: 100px;
        background-color: #F3F4F6;
        color: #615FFF;
    }

    progress::-webkit-progress-bar {
        background-color: #F3F4F6;
        border-radius: 100px;
    }

    progress::-webkit-progress-value {
        background-color: #615FFF;
        border-radius: 100px;
        transition: width 0.3s ease-in-out;
    }

    progress::-moz-progress-bar {
        background-color: #615FFF;
        border-radius: 100px;
        transition: width 0.3s ease-in-out;
    }

    progress:hover::-webkit-progress-value {
        opacity: 0.9;
    }

    progress:hover::-moz-progress-bar {
        opacity: 0.9;
    }

    .pride {
        background-image: linear-gradient(135deg, #e60000 8.33%, #ff8e00 8.33%, #ff8e00 16.67%, #ffef00 16.67%, #ffef00 25%, #00821b 25%, #00821b 33.33%, #004bff 33.33%, #004bff 41.67%, #780089 41.67%, #780089 50%, #e60000 50%, #e60000 58.33%, #ff8e00 58.33%, #ff8e00 66.67%, #ffef00 66.67%, #ffef00 75%, #00821b 75%, #00821b 83.33%, #004bff 83.33%, #004bff 91.67%, #780089 91.67%, #780089 100%);
        background-size: 90px 90px;
    }

    .trans {
        background-image: linear-gradient(135deg, #5bcffa 12.50%, #f5aab9 12.50%, #f5aab9 25%, #ffffff 25%, #ffffff 37.50%, #f5aab9 37.50%, #f5aab9 50%, #5bcffa 50%, #5bcffa 62.50%, #f5aab9 62.50%, #f5aab9 75%, #ffffff 75%, #ffffff 87.50%, #f5aab9 87.50%, #f5aab9 100%);
        background-size: 90px 90px;
    }
}